.Filers {
  
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: stretch;
}

.OrderText {
  margin: 0;
  font-weight: bold;
  margin-bottom: 5px;
  color: #00254d;
}

.DatePickerText {
  /* width: 300px; */
}

.DatePicker {
  flex: 1;
  padding-left: 20px;
}

.EventType {
  flex: 1;
}

.Order {
  flex: 1;
  padding-left: 20px;
}

.Title {
  color: #00254d;
  margin: 2px;
  margin-bottom: 10px;
  padding: 0;
}

.EventsContainer {
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Buttons { 
  width: 80px;
  height: 38px;
  align-self: flex-end;
}